//colors

$primary-950: #69490f;
$primary-900: #926615;
$primary-700: #bb831b;
$primary: #e59e23;
$primary-500: #eaaf4a;
$primary-400: #f4e6cd;
$primary-300: #f9e2bf;
$primary-200: #f6eee1;

$secondary: #1f262d;
$secondary-800: #303a44;
//$secondary-800: red;
$secondary-700: #3f4c59;
$secondary-600: #565f67;
$secondary-500: #738291;
$secondary-400: #7c848a;
$secondary-300: #a2a9ad;
$secondary-100: #d8d8d8;

$success: #009b47;
$success-disabled: #5cc38b;
$error: #ff0000;
$error-disabled: #ff5c5c;

$text: #000;
$dark-text: #141923;
$gray-40: #515151;
$gray-60: #878787;
$gray-70: #a2a2a2;
$gray-80: #bdbdbd;
$gray-90: #d8d8d8;
$gray-95: #f2f2f2;

$bg-content: #f7f7f7;
$dashed-border: #d4d4d4;

$act: #ff0000;
$gray-95-act: #ffe5e5;
$react: #0081ff;
$gray-95-react: #e5f2ff;

$h-dark: #343a40;
$gray-95-gray: #ededed;
$sub-text: #6c6c6c;
$title: #5e5e5e;
$border: #a8a8a8;

$twitter: #03a9f4;
$not-started: #ffb848;
// font sizes
$small-size: 12px;
$primary-size: 14px;
$title-size: 16px;
$header-size: 18px;
$big-size: 24px;

//break points
$medium: 1200px;

//shadow
$linkedIn-card-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
