@import "@/styles/variables.scss";

.container {
    width: calc(100vw - 100px);
    max-width: 1000px;
    display: grid;
    grid-template-columns: 100px 1fr;
    border: 1px solid $border;
    gap: 8px;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    &:hover {
        border-color: $primary;
        background-color: $primary-200;
    }

    .details {
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 100%;
        font-size: 14px;
        font-weight: 500;
        color: $sub-text;

        .name {
            font-size: 18px;
            font-weight: 500;
            color: black;
        }

        .size {
        }
    }
}
